/* место для вашего кода */

body {
    margin-top: 92px;
    margin-bottom: 88px;
}

a {
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

address {
    max-width: 240px;
    font-style: normal;
}

address a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35em;
    letter-spacing: 0.01em;
}

address span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35em;
}

nav {
    display: flex;
    align-items: center;
    align-self: center;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.01em;
}

nav a:first-child {
    text-decoration: none;
}

.background-image {
    display: block;
    object-fit: cover;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


/* Начало шапки */
.header {
    width: 1052px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 27px;
    padding-right: 26px;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 148px 1fr;
}

.header .logo {
    height: 105px;
    width: 148px;
    display: block;
}

.header a img {
    height: 100%;
}

.header nav {
    position: relative;
    top: 3px;
}

.header nav a:not(:first-child) {
    padding-left: 31px;
    position: relative;
}

.header nav a:not(:first-child):before {
    display: block;
    position: absolute;
    left: 13px;
    top: 8px;
    content: '';
    background-image: url('../images/list-marker.svg');
    background-size: 7px 7px;
    width: 7px;
    height: 7px;
}

.header address {
    justify-self: end;
    align-self: flex-start;
    padding-top: 5px;
}
/* Конец шапки */

/* Начало первой секции */
.cover {
    margin-top: 96px;
    width: 1100px;
    height: 757px;
    position: relative;
}

.first-section-title {
    width: 1000px;
    margin: auto;
    padding-top: 165px;

    font-size: 100px;
    font-weight: 700;
    line-height: 1.15em;
    letter-spacing: 0.3em;
    text-align: left;
    color: white;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.first-section-title .title-text-aligned-center {
    align-self: center;
    position: relative;
    left: -3px;
    top: 7px;
}

.first-section-title .title-text-aligned-end {
    align-self: flex-end;
    position: relative;
    left: 50px;
    top: 7px;
}

.first-section-title span span:last-child {
    position: relative;
    left: -22px;
}

.cover footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 78px;
    margin-right: 50px;
    margin-top: 135px;
}

.cover footer span {
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27em;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 18.5px;
    position: relative;
    top: 1px;
}

.cover footer button {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.17em;
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    border: none;
    outline: 1px solid;
    border-color: white;
    width: 256px;
    height: 51px;

    cursor: pointer;
}
/* Конеч первой секции */

/* Начало второй секции */
.lots {
    margin-top: 179px;
    max-width: 1052px;
    margin-left: auto;
    margin-right: auto;
}

.lots h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.175;
    text-align: left;
    margin-left: 40px;
}

.lots ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
    list-style-type: none;
    margin-top: 27px;
}

.lots ul li {
    width: 334px;
    min-height: 563px;
    position: relative;
}

.lots ul li a {
    text-decoration: none;
}

.lots article {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    padding-bottom: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots article h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.lots article p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
}

.lots .see-more {
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.174em;
}
/* Конец второй секции*/

/* Начало третьей секции*/
.about {
    width: 1052px;
    margin-top: 146px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 334px 1fr;
}

.about .about-logo-container {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    justify-self: center;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-logo {
    width: 62%;
    height: 62%;
}

.about .about-text-zone {
    padding-top: 136px;
    padding-left: 25px;
}

.about h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.175em;
    position: relative;   
}

.about .about-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.about p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}
/* Конец третьей секции*/

/* Начало футера*/
.footer {
    width: 1000px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer nav {
    flex-direction: column;
    align-self:flex-start;
}

.footer .footer-social-list {
    display: flex;
    column-gap: 48px;
    justify-content: end;
    align-items: start;
    height: 100%;
    flex-wrap: wrap;
}

.footer .footer-social-list img {
    width: 48px;
    height: 48px;
}
/* Конец футера*/